db/*.sqlite3
log/
test/
tmp/

# Ignore application configuration
/config/application.yml
/config/secrets.yml

# Ignore bundler
/.bundle

# Carrierwave image
public/uploads

# Ignore .gem directory to prevent unnecessary details in commits from Nitrous.IO
.gem/
