<div id="about">
  <h1>About Bloccit</h1>
  </br>
  <p>Bloccit is a primitive clone of <a href="http://www.reddit.com">Reddit</a> that was created by Austin Sisson as part of      <a href="http://bloc.io">Bloc's</a> full-stack web development curriculum.</p>
  <p>While Bloccit is not a site designed for general, public-use, it is hosted on <a href="http://www.heroku.com">Heroku</a>      so that friends, family, and potential employers can check it out and play around with it.</p>
</div>