<br/>
<div class="jumbotron">
	<h1>Bloccit</h1>
	<p>Bloccit is a resource for sharing links with your friends!</p>
	<p>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %> today!
	</p>
</div>

<div class="row" id="features">
	<div class="col-md-4">
		<h2>Totally works</h2>
		<p>Bloccit is a fully-functioning site. It lets you create topics, posts, comments and vote on content!</p>
	</div>
	<div class="col-md-4">
		<h2>No ads</h2>
		<p>You'll never see an advertisement on this site. Scout's honor.</p>
	</div>
	<div class="col-md-4">
		<h2>Taught me Ruby on Rails</h2>
		<p>Bloccit was built as part of <a href="http://www.bloc.io">Bloc's</a> full stack web development apprenticeship.</p>
	</div>
</div> 
