@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}


.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}

.voted {
  opacity: 0.5;
}

// Welcome Page

.jumbotron{
  background-color: #6f5499;
  color: #FFFFFF;
}

#features {
  text-align: center;
}

#disclaimer {
  font-size: xx-small;
}

// About Page

#about {
  text-align: center;
}

// Footer

.footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  
}